name: Docker Image CI

on:
  push:
    branches: ["main"]

  pull_request:
    branches: ["develop"]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}-frontend

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write

    steps:
      - uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@65b78e6e13532edd9afa3aa52ac7964289d1a9c1
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build the Docker image
        run: |
          docker build ./frontend --file ./frontend/Dockerfile --tag acedema/frontend:latest && \
          docker tag acedema/frontend:latest ghcr.io/acedema/acedema-frontend:${{ github.sha }} && \
          docker push ghcr.io/acedema/acedema-frontend:${{ github.sha }}
